@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Work Sans';
  font-display: swap;
  src: local('Work Sans') url('/fonts/work-sans-variable-font-wght.ttf') format('truetype-variations');
}

@layer base {
  :root {
    --color-pink: 206 54 124; /* #ce367c */
    --color-light-pink: 240 194 216; /* #f0c2d8 */
    --color-black: 0 0 0; /* #000 */
    --color-white: 255 255 255; /* #fff */
    --color-red: 255 0 0; /* #f00 */
    --color-light-grey: 220 220 220; /* #dcdcdc */
    --color-light-grey-2: 242 242 242; /* #f2f2f2 */
    --color-dark-grey: 128 128 128; /* #808080 */
    --color-dark-grey-2: 25 25 25; /* #191919 */
    --color-yellow: 242 207 13; /* #f2cf0d */
  }

  * {
    @apply m-0 scroll-smooth p-0;

    &::before,
    &::after {
      @apply box-border;
    }

    &::selection {
      @apply bg-primary-light text-primary;
    }

    &::-webkit-scrollbar {
      @apply w-4 rounded-xl bg-primary-light;
    }

    &::-webkit-scrollbar-track {
      @apply shadow-inner shadow-darkgrey-2;
    }

    &::-webkit-scrollbar-thumb {
      @apply rounded-xl bg-primary;
    }
  }

  html {
    @apply text-[62.5%];
  }

  body {
    @apply bg-black font-work-sans;
  }
}

@layer components {
  .icons {
    @apply absolute h-0 w-0 overflow-hidden;
  }

  .button {
    @apply block min-w-[20rem] cursor-pointer select-none bg-white bg-gradient-120 from-transparent from-0% via-transparent via-50% to-primary to-50% bg-[length:250%] p-[1.6rem] text-2xl font-[500] uppercase text-primary transition-all duration-300;

    &:hover {
      @apply translate-x-4 bg-[100%] text-white;
    }

    &.submit {
      @apply rounded-xl border border-solid border-primary bg-primary to-white text-white;

      &:hover {
        @apply text-primary;
      }
    }
  }

  .form-field {
    @apply w-full rounded-xl border-2 border-solid border-primary-light p-2 text-2xl;

    &::placeholder {
      @apply select-none text-darkgrey;
    }

    &:invalid {
      @apply border-red;
    }

    &:focus {
      @apply border-primary outline-none;
    }
  }

  .nav_link {
    &.footer {
      @apply ml-4 text-yellow;
    }

    &.header {
      @apply ml-10 block select-none pb-[0.8rem] text-[1.4rem] uppercase text-white transition-[border-b];

      &:hover {
        @apply border-b-2 border-b-primary;
      }
    }
  }

  .section {
    @apply pb-32 text-center;

    header {
      @apply font-bold tracking-widest;

      h2 {
        @apply mb-5 text-[2.4rem] uppercase text-primary;
      }

      h3 {
        @apply mb-10 text-[4rem] capitalize text-darkgrey;
      }
    }
  }

  .wave {
    @apply h-40 w-full;
  }
}
