@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Work Sans';
  font-display: swap;
  src: local('Work Sans') url('/fonts/work-sans-variable-font-wght.ttf') format('truetype-variations');
}

@layer base {
  :root {
    --color-pink: 206 54 124; /* #ce367c */
    --color-light-pink: 240 194 216; /* #f0c2d8 */
    --color-black: 0 0 0; /* #000 */
    --color-white: 255 255 255; /* #fff */
    --color-red: 255 0 0; /* #f00 */
    --color-light-grey: 220 220 220; /* #dcdcdc */
    --color-light-grey-2: 242 242 242; /* #f2f2f2 */
    --color-dark-grey: 128 128 128; /* #808080 */
    --color-dark-grey-2: 25 25 25; /* #191919 */
    --color-yellow: 242 207 13; /* #f2cf0d */
  }

  * {
    @apply m-0 scroll-smooth p-0;

    &::before,
    &::after {
      @apply box-border;
    }

    &::selection {
      @apply bg-primary-light text-primary;
    }

    &::-webkit-scrollbar {
      @apply w-4 rounded-xl bg-primary-light;
    }

    &::-webkit-scrollbar-track {
      @apply shadow-inner shadow-darkgrey-2;
    }

    &::-webkit-scrollbar-thumb {
      @apply rounded-xl bg-primary;
    }
  }

  html {
    @apply text-[62.5%];
  }

  body {
    @apply bg-black font-work-sans;
  }
}

@layer components {
  .form-field {
    @apply w-full rounded-xl border-2 border-solid border-primary-light p-2 text-2xl;

    &::placeholder {
      @apply select-none text-darkgrey;
    }

    &:invalid {
      @apply border-red;
    }

    &:focus {
      @apply border-primary outline-none;
    }
  }
}
