@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-pink: 206 54 124; /* #ce367c */
    --color-light-pink: 240 194 216; /* #f0c2d8 */
    --color-black: 0 0 0; /* #000 */
    --color-white: 255 255 255; /* #fff */
    --color-light-grey: 220 220 220; /* #dcdcdc */
    --color-light-grey-2: 242 242 242; /* #f2f2f2 */
    --color-dark-grey: 128 128 128; /* #808080 */
    --color-dark-grey-2: 25 25 25; /* #191919 */
    --color-yellow: 242 207 13; /* #f2cf0d */
  }

  * {
    @apply m-0 scroll-smooth p-0;

    &::before,
    &::after {
      @apply box-border;
    }

    &::selection {
      @apply bg-primary-light text-primary;
    }

    &::-webkit-scrollbar {
      @apply w-4 rounded-xl bg-primary-light;
    }

    &::-webkit-scrollbar-track {
      @apply shadow-inner shadow-darkgrey-2;
    }

    &::-webkit-scrollbar-thumb {
      @apply rounded-xl bg-primary;
    }
  }

  html {
    @apply text-[62.5%];
  }

  body {
    @apply bg-black;
  }
}

@layer components {
  .home {
    @apply relative h-[100vh] w-full bg-black bg-[url('/images/header-img.jpg')] bg-[length:40%] bg-[90%_50%] bg-no-repeat;
  }

  .section {
    @apply pb-32 text-center;

    .section_header {
      @apply font-bold tracking-widest;

      .section_heading {
        @apply mb-5 text-[2.4rem] uppercase text-primary;
      }

      .section_subheading {
        @apply mb-10 text-[4rem] capitalize text-darkgrey;
      }
    }
  }
}
